.display-section {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.display {
  padding-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.display__main {
  font-size: var(--small-font-size);
}

/* .display__secondary {
  font-size: var(--tiny-font-size);
  color: var(--secondary-text-color);
} */
