.keyboard-section {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.keyboard {
  background-color: inherit;
  height: inherit;
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(5, 20%);
  width: 100%;
}

.digits,
.operators {
  margin: 0.3rem;
}

.digits button {
  background-color: var(--digit-button-color);
  color: var(--main-text-color);
}

.operators button {
  background-color: var(--operators-background-color);
  color: var(--main-text-color);
}

.digits button:active,
.operators button:active {
  background-color: var(--digit-button-color-active);
}

.erase {
  grid-column: span 2;
}

.erase button,
.equal button {
  color: var(--erase-and-equal-color);
}

.equal button {
  background-color: var(--equal-button-background-color);
}
