@import 'colorMatrix.css';
@import 'header.css';
@import 'fonts.css';
@import 'display.css';
@import 'button.css';
@import 'keyboard.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-weight: 400;
  font-family: 'Oxanium', sans-serif;
}

html {
  color: var(--main-text-color);
}

body {
  background-color: var(--background-color);
}

.container {
  margin: auto;
  max-width: 95vw;
  height: 100vh;
}

@media screen and (min-width: 440px) {
  .display__main {
    font-size: var(--medium-font-size);
  }
}

@media screen and (min-width: 550px) {
  .display__main {
    font-size: var(--large-font-size);
  }
}

@media screen and (min-width: 690px) {
  .display__main {
    font-size: var(--x-large-font-size);
  }
}

@media screen and (min-width: 800px) {
  .container {
    max-width: 80vw;
  }
}

@media screen and (min-width: 950px) {
  .display__main {
    font-size: var(--big-font-size);
  }
}

@media screen and (min-width: 1100px) {
  .container {
    max-width: 70vw;
  }
}

@media screen and (min-width: 1250px) {
  .container {
    max-width: 60vw;
  }
}

@media screen and (min-width: 1500px) {
  .container {
    max-width: 50vw;
  }
}
